.wrapper {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
  min-height: 13vh;
  box-sizing: border-box;
}
header {
  background-color: #040a19;
}
.objects {
  display: flex;
  justify-content: space-between;
}
