.imgProfile {
  width: 70px;
}
.info {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.BlockArrow {
  display: block;
  margin-left: 50px;
}
.arrowImg {
  width: 40px;
  height: 40px;
}
.BlockArrow:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
}
.wrapper div {
  margin-left: 10px;
}
