.wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}
.text {
  max-width: 400px;
  margin: 30px;
  font-size: 26px;
}
.logo {
}
.logo img {
  margin: 10px;
  max-width: 10vw;
  max-height: 10vh;
}
