.wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}
.text {
  max-width: 400px;
  margin: 30px;
  font-size: 26px;
}
.logo {
  margin: 10px;
  max-width: 10vw;
  max-height: 10vh;
}

.logo__change {
  margin: 10px;
  max-width: 5vw;
  max-height: 5vh;
}
.text__change {
  max-width: 700px;
  margin: 10px;
  font-size: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .text {
    margin: 0px;
  }
  .logo {
    margin: 0px;
  }
  .text__change {
    max-width: 300px;
    margin: 10px;
    font-size: 20px;
  }
}
